/* Layout Styles */
.block-main-layout {
    width: 100%;
}

.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}


.main-content-body.sidebar-open {
    margin-left: 292px;
  }


